USE [master]
GO
/****** Object:  Database [DrHelperDB]    Script Date: 29.12.2020 02:19:24 ******/
CREATE DATABASE [DrHelperDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DrHelperDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DrHelperDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DrHelperDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DrHelperDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DrHelperDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DrHelperDB]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 29.12.2020 02:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[idAppointment] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](200) NULL,
 CONSTRAINT [Appointment_PK] PRIMARY KEY CLUSTERED 
(
	[idAppointment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disease]    Script Date: 29.12.2020 02:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disease](
	[idDisease] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
 CONSTRAINT [Disease_PK] PRIMARY KEY CLUSTERED 
(
	[idDisease] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 29.12.2020 02:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[idMedicine] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
 CONSTRAINT [Medicine_PK] PRIMARY KEY CLUSTERED 
(
	[idMedicine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 29.12.2020 02:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[idPrescription] [int] IDENTITY(1,1) NOT NULL,
	[prescriptionDate] [datetime] NULL,
 CONSTRAINT [Prescription_PK] PRIMARY KEY CLUSTERED 
(
	[idPrescription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionsMedicine]    Script Date: 29.12.2020 02:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionsMedicine](
	[idPrescription] [int] NOT NULL,
	[idMedicine] [int] NOT NULL,
	[amount] [varchar](100) NULL,
 CONSTRAINT [prescription_medicine_PK] PRIMARY KEY CLUSTERED 
(
	[idPrescription] ASC,
	[idMedicine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timeblock]    Script Date: 29.12.2020 02:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timeblock](
	[idTimeblock] [int] IDENTITY(1,1) NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[avaliable] [bit] NOT NULL,
	[idUser] [int] NOT NULL,
	[idAppointment] [int] NULL,
 CONSTRAINT [Timeblock_PK] PRIMARY KEY CLUSTERED 
(
	[idTimeblock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29.12.2020 02:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[name] [varchar](50) NULL,
	[surname] [varchar](100) NULL,
	[description] [varchar](200) NULL,
	[idUserType] [int] NOT NULL,
	[PasswordHash] [binary](64) NULL,
	[PasswordSalt] [binary](128) NULL,
 CONSTRAINT [User_PK] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersDiseases]    Script Date: 29.12.2020 02:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersDiseases](
	[idUsersDiseases] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[idDisease] [int] NOT NULL,
	[occurrenceDate] [datetime] NOT NULL,
	[description] [varchar](200) NULL,
 CONSTRAINT [users_diseases_PK] PRIMARY KEY CLUSTERED 
(
	[idUsersDiseases] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersPrescriptions]    Script Date: 29.12.2020 02:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersPrescriptions](
	[idPrescription] [int] NOT NULL,
	[idUser] [int] NOT NULL,
 CONSTRAINT [users_prescriptions_PK] PRIMARY KEY CLUSTERED 
(
	[idPrescription] ASC,
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 29.12.2020 02:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[idUserType] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](20) NOT NULL,
 CONSTRAINT [UserType_PK] PRIMARY KEY CLUSTERED 
(
	[idUserType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrescriptionsMedicine]  WITH CHECK ADD  CONSTRAINT [FK_ASS_5] FOREIGN KEY([idPrescription])
REFERENCES [dbo].[Prescription] ([idPrescription])
GO
ALTER TABLE [dbo].[PrescriptionsMedicine] CHECK CONSTRAINT [FK_ASS_5]
GO
ALTER TABLE [dbo].[PrescriptionsMedicine]  WITH CHECK ADD  CONSTRAINT [FK_ASS_8] FOREIGN KEY([idMedicine])
REFERENCES [dbo].[Medicine] ([idMedicine])
GO
ALTER TABLE [dbo].[PrescriptionsMedicine] CHECK CONSTRAINT [FK_ASS_8]
GO
ALTER TABLE [dbo].[Timeblock]  WITH CHECK ADD  CONSTRAINT [Timeblock_Appointment_FK] FOREIGN KEY([idAppointment])
REFERENCES [dbo].[Appointment] ([idAppointment])
ON UPDATE SET DEFAULT
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[Timeblock] CHECK CONSTRAINT [Timeblock_Appointment_FK]
GO
ALTER TABLE [dbo].[Timeblock]  WITH CHECK ADD  CONSTRAINT [Timeblock_User_FK] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Timeblock] CHECK CONSTRAINT [Timeblock_User_FK]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [User_UserType_FK] FOREIGN KEY([idUserType])
REFERENCES [dbo].[UserType] ([idUserType])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [User_UserType_FK]
GO
ALTER TABLE [dbo].[UsersDiseases]  WITH CHECK ADD  CONSTRAINT [FK_ASS_1] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersDiseases] CHECK CONSTRAINT [FK_ASS_1]
GO
ALTER TABLE [dbo].[UsersDiseases]  WITH CHECK ADD  CONSTRAINT [FK_ASS_2] FOREIGN KEY([idDisease])
REFERENCES [dbo].[Disease] ([idDisease])
GO
ALTER TABLE [dbo].[UsersDiseases] CHECK CONSTRAINT [FK_ASS_2]
GO
ALTER TABLE [dbo].[UsersPrescriptions]  WITH CHECK ADD  CONSTRAINT [FK_ASS_6] FOREIGN KEY([idPrescription])
REFERENCES [dbo].[Prescription] ([idPrescription])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersPrescriptions] CHECK CONSTRAINT [FK_ASS_6]
GO
ALTER TABLE [dbo].[UsersPrescriptions]  WITH CHECK ADD  CONSTRAINT [FK_ASS_7] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersPrescriptions] CHECK CONSTRAINT [FK_ASS_7]
GO
USE [master]
GO
